<?xml version="1.0"?>
<model>
  <name>fixed-wing</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Keith Baldwin</name>
   <email>keith.baldwin@airspaceinnovation.com</email>
  </author>

  <description>
    A fixed wing aerial drone based on https://3dwarehouse.sketchup.com/model/51f1c6bf-3c6c-4818-a9d3-8da76c67bf5b/Drone
  </description>
</model>
