<?xml version="1.0"?>
<model>
  <name>x3</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Keith Baldwin</name>
    <email>keith.baldwin@airspaceinnovation.com</email>
  </author>
  <description>Downloaded from Gazebo Fuel and merged with x500</description>
</model>
